.progressBox {
  background: white;
  border-radius: 15px;
  padding: 12px;
  width: 198px;
  height: 70px;
  margin-bottom: 59px;
}

.progressValue {
  position: absolute;
  top: +45px; /*Піднімаємо над шкалою */
  color: #9BE1A0; /* Зелений колір */
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  transform: translateX(-50%); 
}

.progressBox {
  position: relative;
  /* width: 100%; */
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #323F47;
}

.slider {
  width: 100%;
  appearance: none;
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #9BE1A0 var(--progress), #F0EFF4 var(--progress));
  transition: background 0.3s ease;
}

/* Стилізація кружечка */
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: white;
  border: 2px solid #9BE1A0;
  border-radius: 50%;
  cursor: pointer;
}

/* Для Firefox */
.slider::-moz-range-track {
  height: 5px;
  border-radius: 5px;
  background: #F0EFF4;
}

.slider::-moz-range-progress {
  background: #9BE1A0;
  height: 5px;
  border-radius: 5px;
}

.percentages {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #2F2F2F;
}

@media (min-width: 768px) {
  .progressValue {
      top: +40px;
    }

  .progressBox {
    padding: 20px;
    width: 295px;
    height: 106px;
  }

  .label {
    font-size: 15px;
    line-height: 149%;
  }

  .slider {
    height: 8px;
    border-radius: 9px;
  }

  .percentages {
    font-size: 12px;
    line-height: 187%;
  }
}

