.content {
  width: 303px;
  max-width: 303px;
  text-align: center;
}

.textWrapper {
  margin-bottom: 28px;
}

.title {
  color: #323F47;
  font-size: 20px;
  margin-bottom: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.text {
  color: #323F47;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.logOutBtn {
  width: 100%;
  background-color: var(--accent);
  color: var(--main);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  border: none;
  border-radius: 30px;

  padding: 14px 0;
  transition: background-color var(--animation);
}

.logOutBtn:hover,
.logOutBtn:active {
  background-color: #87d28d;
}

.cancelBtn {
  width: 100%;
  background-color: var(--background);
  color: rgba(50, 63, 71, 0.3);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  border: none;
  border-radius: 30px;
  padding: 14px 0;

  transition: color var(--animation);
}

.cancelBtn:hover {
  color: var(--main);
}

@media only screen and (min-width: 768px) {
  .content {
    width: 436px;
    max-width: 436px;
  }

  .title {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 1.14;
  }

  .text {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 1.33;
  }

  .btnContainer {
    flex-direction: row;
    gap: 10px;
  }

  .cancelBtn {
    padding: 18px 0;
    line-height: 1.5;
  }

  .logOutBtn {
    line-height: 1.5;
    padding: 18px 0;
  }
}
