/*src/pages/SignUpPage/SignUpPage.module.css*/
/* Основний контейнер сторінки */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*min-height: 100vh; /* Щоб wrapper займав всю висоту екрану */
}

/* Блок з логотипом і формою */
.formContainer {
  background-color: #f0eff4;
  width: 100%;
  /*min-height: 100vh; /* Вирівнюємо висоту */
  padding: 24px 16px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

/* Вирівнювання логотипа */
.formContainer > svg {
  display: block;
  margin-bottom: 32px;
}

/* Блок з AdvantagesSection */
.advantagesContainer {
  display: none;
  width: 100%;
  min-height: 100vh;
  flex-grow: 1;
}

/*Планшетна версія */
@media only screen and (min-width: 768px) {
  .formContainer {
    padding: 32px;
  }
}

/* Десктопна версія */
@media only screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
  }

  .formContainer {
    width: 50%;
    padding: 32px;
  }

  .advantagesContainer {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}
