/*src/pages/SignUpPage/SignUpPage.module.css*/
.signup_wrapper {
  border-radius: 30px;
  background-color: #f0eff4;
  width: 343px;
  padding: 24px 16px 216px 16px;
}

.signup_form {
}

.redirect {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
}

.redirect_to_signin {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #323f47;
}

.advantages {
  display: none;
}

@media only screen and (min-width: 768px) {
  .signup_wrapper {
    border-radius: 30px;
    width: 704px;
    padding: 32px 134px 281px 32px;
  }

  .redirect {
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    margin-left: 194px;
  }
}

@media only screen and (min-width: 1440px) {
  .signup_wrapper {
    width: 672px;
    height: 736px;
    padding: 32px 118px 0px 32px;
    margin-right: 32px;
  }

  .redirect {
    margin-left: 178px;
  }

  .advantages {
    display: block;
  }
}
