.container {
    background-color: #f0eff4;
    border-radius: 30px;
    min-height: 411px;
    padding: 24px 16px;
}

.wrapper{
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap:32px;
    /* width: 311px; */
}

.text{
    display: flex;
    flex-direction: column;
    gap:16px
}

.hintText{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: 0.06em;
    color: #2f2f2f;
}

.mainText{
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #323f47;
}

.buttons{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.btngreen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 30px;
    width: 116px;
    height: 46px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-align: center;
    color: #323f47;
}

.btngray:hover, .btngray:focus{
    color:#87D28D;
    border-color: #87D28D;

}

.btngray{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid #323f47;
    border-radius: 30px;
    width: 104px;
    height: 46px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-align: center;
    color: #323f47;
    transition: var(--animation);
}

@media only screen and (min-width: 768px) {
    .container{
        padding: 32px;
        min-height: 498px;
    }

    .wrapper{
        align-items: flex-start;
        justify-content: flex-start;
        width: 547px;
        padding-left: 32px;
    }

    .hintText{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.06em;
    }

    .mainText{
        font-weight: 700;
        font-size: 64px;
        line-height: 1.09375;
        letter-spacing: -0.01em;
    }

    .buttons{
        gap: 16px;
    }

    .btngreen{
        /*padding: 18px 40px;*/
        width: 169px;
        height: 60px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        text-align: center;
        color: #323f47;
    }

    .btngray{
        /*padding: 18px 40px;*/
        width: 135px;
        height: 60px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        text-align: center;
        color: #323f47;
    }

}

@media only screen and (min-width: 1440px) {
    .container{
        width: 672px;
        height: 736px
    }

    .wrapper{
        margin-top: 132px;
    }

    .mainText{
        font-size: 80px;
        line-height: 0.95;
    }

    .btngreen, .btngray{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        text-align: center;
        color: #323f47;
    }
}
