.calendarPagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.buttonPagination {
  display: flex;
  /* margin: 0 auto; */
  gap: 16px;
}

.dateFormat {
  display: flex;
  align-items: center;
  gap: 8px;
}

.paginationHeader {
font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main);
  text-transform: capitalize;
}

.paginationDate {
font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
}

.boxIcon{
  display: flex;
  margin-left: 16px;
  width: 20px;
  height: 20px;
}

.iconPag{
stroke-width: 2px;
}

@media only screen and (min-width: 768px) {
  .paginationHeader {
  font-size: 28px;
  line-height: 114%;
  }

.paginationDate{
  font-size: 16px;
  line-height: 150%;
}

.buttonPagination {
/* margin-left: 343px; */
}
}