.wrapper {
  max-width: 320px;
  min-height: 770px;
  background-color: var(--background);
  padding: 40px 20px;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    min-height: 738px;
    padding: 32px 32px 35px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    height: 736px;
    max-width: 672px;
    /* min-height: 100%; */
    padding: 32px 32px 33px;
  }
}
