/*src/components/SignUpForm/SignUpForm.module.css*/
.form {
  width: 311px;
  margin: 0 auto;
  margin-bottom: 16px;
  margin-top: 172px;
}

.title {
  font-family: "Gilroy",
      sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 32px;
}

.boxInput {
  margin-bottom: 16px;
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.input {
  margin-top: 8px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;
  width: 311px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  background: transparent !important;
  appearance: none;
}

/* Видалення автозаповнення */
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #2f2f2f !important;
  color: #2f2f2f !important;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #ef5050;
  margin-top: 10px;
}

.inputError {
  border: 1px solid #ef5050;
  color: #ef5050;
}

.button {
  border-radius: 30px;
  width: 311px;
  height: 50px;
  border: none;
  background-color: #9be1a0;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #323f47;
  transition: background-color 0.3s ease;

  /* Вирівнюємо текст по центру */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: normal; /* Виправлення переносу тексту */
  padding: 0; /* Видаляємо зайві відступи */
}

.button:hover,
.button:focus {
  background-color: #87d28d;
}

/* Стилізація пароля з іконкою ока */
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeButton {
  position: absolute;
  right: 18px;
  top: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.eyeIcon {
  width: 18px;
  height: 18px;
  stroke: #2f2f2f;
  fill: none;
}

/* 📱 Адаптивність */
/* Tablet */
@media only screen and (min-width: 768px) {
  .form {
    width: 436px;
    margin-top: 225px;
    margin-left: 102px;
  }

  .title {
    font-size: 36px;
    line-height: 106%;
  }

  .boxInput {
    margin-bottom: 20px;
  }

  .label {
    font-size: 16px;
    line-height: 150%;
  }

  .input {
    width: 436px;
    height: 56px;
  }

  .error {
    font-size: 15px;
  }

  .button {
    width: 436px;
    height: 60px;
    font-size: 16px;
  }

  .eyeButton {
    right: 18px;
    top: 25px;
  }

  .eyeIcon {
    width: 20px;
    height: 20px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .form {
    width: 436px;
    margin-top: 113px;
    margin-left: 86px;
    margin-bottom: auto;
  }

            .error {
              margin-top: 2px;
            }

  .button {
    width: 436px;
    height: 60px;
    padding: 0; /* Видаляємо зайві відступи */
  }
}
