*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: var(--main-font);
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

.buttonGreen{
background-color: #9be1a0;
text-align: center;
font-weight: 700;
color: #323f47;
border: none;
transition: var(--animation);
}

.button:hover,
.button:focus {
  background: #87d28d;
}

.cancelButton{
  background-color: #f0eff4;
  text-align: center;
  color: #323f47;
  font-weight: 700;
  border: none;
}

.buttonTrackBlack{
background-color: #323f47;
text-align: center;
  font-weight: 700;
  border: none;
}