 .wrapper{
  border-radius: 15px;
  padding: 12px;
  width: 102px;
  height: 54px;
  background-color: #fff;
  cursor: pointer;
}

.day{
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #323F47;
  margin-bottom: 6px;
}

.norma1{
  font-weight: 400;
font-size: 10px;
line-height: 100%;
color: rgba(47, 47, 47, 0.6);
} 