.userBarBtn {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border-color: transparent;
  gap: 8px;
  opacity: 1px;
  background-color: var(--main);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--main-white);
  padding: 6px 12px;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.icon-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  fill: #ccc;
}

.avatarPlaceholder {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ccc;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.chevron {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: var(--main-white);
  transition: transform 0.3s;
}

.chevron.open {
  transform: rotate(180deg);
}
